/* Font */

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");
/* || RESET */
*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */
:root {
  /* ||FONTS */
  --FF: "Lato", sans-serif;
  --FF-HEADINGS: "Lato", sans-serif;
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* || COLORS */
  --BGCOLOR: orange;
  --BGCOLOR-FADE: rgb(252, 220, 160);
  --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
  --BODY-BGCOLOR: #fff;
  --FONT-COLOR: #000;
  --BORDER-COLOR: #333;
  --HIGHLIGHT-COLOR: rgb(51, 178, 51);
  --LINK-COLOR: #000;
  --LINK-HOVER: violet;
  --LINK-ACTIVE: orange;
  --HEADER-BGCOLOR: #000;
  --HEADER-COLOR: #fff;
  --NAV-BGCOLOR: #fff;
  --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
  --HERO-COLOR: #fff;
  --C-BRAND: #f83691;
  --C-BRAND-RGB: 248, 54, 145;
  --C-DARK: #303050;
  --C-BODY: #636383;
  --C-LIGHT: #f6f6f6;
  --F-MAIN: "Bai Jamjuree", sans-serif;
  --TRANSEITION: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  --SHADOW: 0px 15px 40px rgba(0, 0, 0, 0.1);

  /* || BORDERS */
  --BORDERS: 1px solid var(--BORDER-COLOR);

  /* || STANDARD PADDING */
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;

  /* || STANDARD MARGIN */
  --MARGIN: clamp(0em, 0vh, 0em) 0;
}

/*  || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

/* || GENRAL STYLE */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.428;
  background-color: #f4f3f3;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1em;
}

h2,
h3,
h4 {
  margin-bottom: 1em;
}

p {
  line-height: 1.5;
}

a:hover,
a:focus-visible {
  color: var(--C-BRAND);
}

a:active {
  color: var(--LINK-ACTIVE);
}

a {
  text-decoration: none;
  color: var(--C-DARK);
  transition: var(--TRANSEITION);
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.text-brand {
  color: var(--C-BRAND);
}

.setion-title {
  max-width: 560px;
  margin: 0 auto 60px auto;
}

.setion-title .line {
  width: 60px;
  height: 2px;
  background-color: var(--C-BRAND);
  display: inline-block;
}

.section-connector {
  position: relative;
}

.section-connector::after {
  content: "";
  width: 2px;
  height: 100px;
  background-color: var(--C-BRAND);
  position: absolute;
  top: -50px;
  left: 50%;
}

.sections__heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  font-weight: 900;
  margin-top: 2%;
}

.sections__line {
  display: flex;
  justify-content: center;
  background: var(--C-BRAND);
  width: 20%;
  border: 0.3px solid var(--C-BRAND);
}

.social-icon {
  width: 40px;
  height: 40px;
  background-color: var(--C-BRAND);
  color: var(--C-DARK);
  border: 1px solid var(--C-DARK);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  border-radius: 30%;
}

.social-icon:hover {
  background-color: transparent;
}

/* || HEADER */
.header {
  display: none;
}

/* HEADER NAV */
/* Navbar */

.navbar {
  padding: 30px;
  padding-bottom: 30px;
  transition: var(--TRANSEITION);
}

.navbar.scrolled {
  padding: 7px;
  padding-bottom: 7px;
  background-color: white;
  box-shadow: var(--SHADOW);
}

.navbar-toggler {
  border-radius: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.profile-pic-logo {
  width: 50px;
  border: violet;
  background-color: var(--C-BRAND);
  background-size: cover;
  border-radius: 20%;
}

.navbar-nav.active {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #f83691d5;
  top: 0;
  left: 0;
  padding: 43px;
  display: flex;
  flex-direction: column;
}

.navbar-nav.active > li a {
  font-size: 35px;
  display: block;
  margin-bottom: 15px;
  color: #d3d3d3;
}

/* || SECTION ONE */
.sectionone {
  background-image: url(../img/SectiononeBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 98vh;
  background-position: center;
  position: relative;
}

.sectionone__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeebebc7;
}

.sectionone__container__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 78%;
  position: absolute;
  top: 20%;
  left: 8%;
}

.sectionone__container__item > h3,
.sectionone__container__item > h1,
.sectionone__container__item > p.sectionone__container__p {
  margin-bottom: 16px;
}

.sectionone__container__h1 {
  color: var(--C-DARK);
  width: 900;
  font-size: 1rem;
}

.sectionone__container__h2 {
  color: var(--C-BRAND);
  font-size: 2rem;
  width: 900;
}

.sectionone__container__item > p.sectionone__container__p {
  border: var(--BORDERS);
  border-color: var(--BORDER-COLOR);
  padding: 7px 8px;
  border-radius: 10%;
  padding-bottom: 4%;
  background-color: rgba(255, 255, 255, 0.856);
}

.sectiontwo {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c513.313C109.469%2c525.749%2c221.239%2c544.204%2c323.679%2c503.655C437.659%2c458.538%2c559.806%2c390.028%2c602.115%2c274.976C644.17%2c160.614%2c581.587%2c36.263%2c537.298%2c-77.252C500.782%2c-170.844%2c423.736%2c-235.677%2c369.807%2c-320.439C303.873%2c-424.069%2c299.7%2c-586.264%2c185.185%2c-630.681C72.439%2c-674.412%2c-40.118%2c-564.974%2c-153.713%2c-523.497C-258.888%2c-485.095%2c-388.08%2c-484.25%2c-457.169%2c-396.14C-525.831%2c-308.575%2c-485.612%2c-182.094%2c-507.036%2c-72.901C-530.002%2c44.146%2c-636.275%2c159.451%2c-587.542%2c268.321C-538.866%2c377.065%2c-389.598%2c389.266%2c-279.634%2c435.119C-188.455%2c473.139%2c-98.157%2c502.163%2c0%2c513.313' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 890.057C1510.998 904.735 1586.02 919.106 1653.086 891.569 1725.5 861.835 1797.268 808.532 1820.561 733.797 1843.526 660.115 1801.045 583.574 1771.271 512.37 1747.412 455.31100000000004 1706.649 410.78200000000004 1666.002 364.168 1625.491 317.71000000000004 1588.151 269.448 1533.912 240.163 1470.188 205.75599999999997 1398.688 162.262 1329.084 182.255 1259.466 202.252 1229.926 282.331 1186.166 340.051 1145.432 393.78 1088.502 441.406 1081.752 508.492 1075.0720000000001 574.889 1114.806 635.871 1150.745 692.098 1182.862 742.346 1227.682 780.116 1276.895 813.796 1327.448 848.393 1380.011 877.655 1440 890.057' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
}

.sectiontwo__container__h1 {
  color: #fff;
  margin-top: 4%;
}

.sectiontwo__container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.295);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 4%;
}

.sectiontwo__container__item {
  display: grid;
  grid-template-columns: 15% 40% 40%;
  align-items: center;
  text-align: center;
  gap: 0.1rem;
  width: 95%;
  height: 15rem;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 10%;
  padding: 4%;
}

.sectiontwo__container__item a {
  color: #fff;
  margin-left: 2%;
}

.sectiontwo__container__item > a > i {
  width: 60px;
}

.sectiontwo__container__item h3 {
  color: red;
  font-size: larger;
  width: 900;
}

.sectiontwo__container__item p {
  color: #fff;
  text-align: left;
}

.sectiontwo__container__link {
  display: flex;
  justify-content: center;
  background-color: rgba(8, 0, 0, 0.397);
  text-decoration: none;
  padding: 4%;
}

.sectiontwo__container__anchor {
  color: #fff;
  font-size: 200%;
}

/* || SECTION THREE */

.sectionthree {
  background-color: var(--BGCOLOR-FADE);
  padding: 4%;
}

.sectionthree__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sectionthree__container__items__item {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 10px;
  gap: 14px;
  padding: 5%;
  background-color: #f4f3f3bb;
}

.sectionthree__container__items__item__left {
  background-image: url(../img/Chess_Board.svg);
  border-radius: 10%;
}
.sectionthree__container__items__item__left__bgpic {
  z-index: 9;
  position: relative;
}

.sectionthree__container__items__item__left__bgpic::before {
  content: "";
  position: absolute;
  background-image: url(../img/Chess_Board.svg);
  width: 76px;
  height: 76px;
  z-index: -2;
  top: -15px;
  left: -13px;
  background-position: center;
  background-size: cover;
  border-radius: 10%;
}

.sectionthree__container__items__right {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.sectionthree__container__h2 {
  color: #fff;
  font-size: small;
  font-weight: bolder;
  font-family: "Lato" sans-serif;
}

.sectionthree__container__h3 {
  color: #fff;
  font-size: small;
  font-weight: bolder;
  font-family: "Lato" sans-serif;
}

.sectionthree__container__p {
  color: #fff;
  font-size: small;
  font-weight: bolder;
  font-family: "Lato" sans-serif;
}

/* || SECTTIN FOUR */
.sectionfour {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='700' preserveAspectRatio='none' viewBox='0 0 1440 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='700' x='0' y='0' fill='rgba(14%2c 42%2c 71%2c 1)'%3e%3c/rect%3e%3cpath d='M83 700L783 0L1015.5 0L315.5 700z' fill='url(%23SvgjsLinearGradient1001)'%3e%3c/path%3e%3cpath d='M549.2 700L1249.2 0L1565.7 0L865.7 700z' fill='url(%23SvgjsLinearGradient1001)'%3e%3c/path%3e%3cpath d='M1409 700L709 0L95.5 0L795.5 700z' fill='url(%23SvgjsLinearGradient1002)'%3e%3c/path%3e%3cpath d='M892.8 700L192.79999999999995 0L96.79999999999995 0L796.8 700z' fill='url(%23SvgjsLinearGradient1002)'%3e%3c/path%3e%3cpath d='M819.8224022915175 700L1440 79.8224022915175L1440 700z' fill='url(%23SvgjsLinearGradient1001)'%3e%3c/path%3e%3cpath d='M0 700L620.1775977084825 700L 0 79.8224022915175z' fill='url(%23SvgjsLinearGradient1002)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1001'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1002'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  height: 20vh;
}

.sectionfour__container__h1 {
  color: #fff;
  margin-top: 2%;
}

.sectionfour__container__item {
  display: grid;
  grid-template-columns: 60% 60% 60% 60% 60%;
  align-items: center;
  gap: 5%;
  margin-top: 2%;
  width: 150px;
}

.footer {
  height: 20vh;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  align-items: center;
}

.footer__container__img {
  width: 10%;
  background-color: var(--C-BRAND);
  border-radius: 10%;
  width: 110px;
  height: 90px;
  background-color: var(--C-BRAND);
  color: var(--C-DARK);
  border: 2px solid var(--C-DARK);
  margin-right: 6px;
  border-radius: 30%;
}

/* || ABOUT SECTIONS */
.sectionone.about {
  margin-top: 0%;
  gap: 1%;
  height: 100vh;
}
.sectionone__container.about {
  text-align: center;
}

.sectionone__container__item.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionone__container__h2.about {
  font-weight: bolder;
  font-size: 20px;
  color: var(--C-DARK);
}

.sectionone__container__p.about {
  text-align: left;
  font-weight: bolder;
  font-size: 13px;
  color: var(--C-DARK);
}

.sectionone__container__h3.about {
  font-weight: bolder;
  font-size: 15px;
  color: var(--C-DARK);
}

.sectionone__container__h1.about {
  font-weight: bolder;
  font-size: 30px;
  color: var(--C-BRAND);
}

.sectionone__container.about > p {
  background-color: #fff;
  border-radius: 5%;
  padding: 10px;
  margin-bottom: 20px;
  overflow-y: auto;
  height: 200px;
}

/* || SECTION TWO */
.sectiontwo.about {
  height: 95vh;
}
.sectiontwo__container.about {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.9%;
  background-color: rgba(2, 2, 2, 0.589);
  color: #fff;
  gap: 10%;
  border: var(--BORDERS);
  border-color: var(--BORDER-COLOR);
  border-radius: 10%;
}

.sectiontwo__container__p.about {
  color: #fff;
  text-align: center;
}

.sectiontwo__container__item.about {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.sectontwo__container__item__link.about {
  width: 300px;
  justify-content: center;
}

/* || SECTION THREE */
.sectionthree.about {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionthree__container.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.sectionthree__container__item.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.sectionthree__container__p.about {
  text-align: center;
  background-color: var(--C-DARK);
  border-radius: 10%;
}

.sectionthree__container__h1.about {
  font-size: 2rem;
  color: var(--C-DARK);
  font-weight: bold;
}

.sectionthree__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 40vh;
}

.sectionthree__container__img.about__1 {
  background-image: url(../img/pexels-photo-3861958.jpeg);
  background-size: cover;
  height: 40vh;
}

.sectionthree__container__img.about__2 {
  background-image: url(../img/pexels-photo-4348401.jpeg);
  background-size: cover;
  height: 40vh;
}

.sectionthree__overlay__bgcolor.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3d0f09a4;
  height: 40vh;
}

.sectionthree__container__h3.about {
  color: #fff;
  width: 900;
  font-size: xx-large;
}

.sectionthree__container__overlay__p.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(245, 245, 250);
  margin-left: 10%;
}

.responsive {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 992px) {
  body {
    margin: 0;
  }

  /* || HEADER */
  .header {
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    border-bottom: var(--BORDERS);
    border-style: var(--SHADOW);
  }

  .header__ul {
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: end;
    list-style-type: none;
    gap: 1.5rem;
    padding-right: 120px;
    padding-top: 16px;
  }

  /* HEADER NAV */
  .navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    height: 50px;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .navbar-nav {
    justify-content: end;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
    align-items: center;
  }

  .navbar .navbar-nav .nav-link {
    font-weight: 700;
    color: var(--C-DARK);
  }
  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .nav-link.active {
    color: var(--C-BRAND);
  }

  .navbar-brand {
    font-size: 20px;
    font-weight: 700;
    color: var(--C-DARK);
  }

  .profile-pic-logo {
    display: flex;
    width: 10%;
    background-color: var(--C-BRAND);
    background-size: cover;
    border-radius: 20%;
  }

  .header__nav__a__logo {
    display: block;
  }

  .header__nav__ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
    justify-content: end;
  }

  .header__nav_link {
    color: rgb(9, 176, 241);
    text-decoration: none;
    font-weight: 100;
  }

  .nav-item:last-child {
    text-decoration: none;
    border: var(--BORDERS);
    border-color: var(--C-BRAND);
    border-width: 5px;
  }

  /* || SECTION ONE */
  .sectionone {
    background-image: url(../img/SectiononeBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    background-position: center;
    position: relative;
  }

  .sectionone__container {
    position: absolute;
    width: 90%;
    height: 72vh;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    background-color: #eeebebc5;
  }

  .sectionone__container__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 30%;
    position: absolute;
    top: 40%;
    left: 8%;
  }

  .sectionone__container__item > h3,
  .sectionone__container__item > h1,
  .sectionone__container__item > p.sectionone__container__p {
    margin-bottom: 16px;
  }

  .sectionone__container__h1 {
    color: var(--C-DARK);
    width: 900;
    font-size: 2.5rem;
  }

  .sectionone__container__h2 {
    color: var(--C-BRAND);
    font-size: 2rem;
    width: 900;
  }

  .sectionone__container__item > p.sectionone__container__p {
    border: var(--BORDERS);
    border-color: var(--BORDER-COLOR);
    border-style: var(--SHADOW);
    border-radius: 10%;
    padding-bottom: 4%;
    color: var(--C-DARK);
    font-size: 22px;
    width: 900;
  }

  /* || SECTION TWO */
  .sectiontwo {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c513.313C109.469%2c525.749%2c221.239%2c544.204%2c323.679%2c503.655C437.659%2c458.538%2c559.806%2c390.028%2c602.115%2c274.976C644.17%2c160.614%2c581.587%2c36.263%2c537.298%2c-77.252C500.782%2c-170.844%2c423.736%2c-235.677%2c369.807%2c-320.439C303.873%2c-424.069%2c299.7%2c-586.264%2c185.185%2c-630.681C72.439%2c-674.412%2c-40.118%2c-564.974%2c-153.713%2c-523.497C-258.888%2c-485.095%2c-388.08%2c-484.25%2c-457.169%2c-396.14C-525.831%2c-308.575%2c-485.612%2c-182.094%2c-507.036%2c-72.901C-530.002%2c44.146%2c-636.275%2c159.451%2c-587.542%2c268.321C-538.866%2c377.065%2c-389.598%2c389.266%2c-279.634%2c435.119C-188.455%2c473.139%2c-98.157%2c502.163%2c0%2c513.313' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 890.057C1510.998 904.735 1586.02 919.106 1653.086 891.569 1725.5 861.835 1797.268 808.532 1820.561 733.797 1843.526 660.115 1801.045 583.574 1771.271 512.37 1747.412 455.31100000000004 1706.649 410.78200000000004 1666.002 364.168 1625.491 317.71000000000004 1588.151 269.448 1533.912 240.163 1470.188 205.75599999999997 1398.688 162.262 1329.084 182.255 1259.466 202.252 1229.926 282.331 1186.166 340.051 1145.432 393.78 1088.502 441.406 1081.752 508.492 1075.0720000000001 574.889 1114.806 635.871 1150.745 692.098 1182.862 742.346 1227.682 780.116 1276.895 813.796 1327.448 848.393 1380.011 877.655 1440 890.057' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
  }

  .sectiontwo__container__h1 {
    color: #fff;
  }

  .sectiontwo__container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: rgba(255, 255, 255, 0.295);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    height: 50vh;
  }

  .sectiontwo__container__item {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 0;
    border: #333;
    border-radius: 5%;
    overflow: hidden;
    padding: 5%;
    margin-bottom: 4%;
    gap: 1rem;
    align-items: center;
  }

  .sectiontwo__container__item a {
    color: #fff;
    display: flex;
    width: 10%;
    height: 10%;
    margin-top: 1%;
  }

  .sectiontwo__container__item h3 {
    color: var(--C-BRAND);
  }

  .sectiontwo__container__item p {
    color: #fff;
  }

  .sectiontwo__container__link {
    display: flex;
  }

  .sectiontwo__container__anchor {
    color: #fff;
    font-size: 200%;
  }

  /* || SECTION THREE */
  .sectionthree {
    background-color: var(--BGCOLOR-FADE);
    padding-top: 0;
  }

  .sectionthree__container__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  /* || SECTTIN FOUR */
  .sectionfour {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='700' preserveAspectRatio='none' viewBox='0 0 1440 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='700' x='0' y='0' fill='rgba(14%2c 42%2c 71%2c 1)'%3e%3c/rect%3e%3cpath d='M83 700L783 0L1015.5 0L315.5 700z' fill='url(%23SvgjsLinearGradient1001)'%3e%3c/path%3e%3cpath d='M549.2 700L1249.2 0L1565.7 0L865.7 700z' fill='url(%23SvgjsLinearGradient1001)'%3e%3c/path%3e%3cpath d='M1409 700L709 0L95.5 0L795.5 700z' fill='url(%23SvgjsLinearGradient1002)'%3e%3c/path%3e%3cpath d='M892.8 700L192.79999999999995 0L96.79999999999995 0L796.8 700z' fill='url(%23SvgjsLinearGradient1002)'%3e%3c/path%3e%3cpath d='M819.8224022915175 700L1440 79.8224022915175L1440 700z' fill='url(%23SvgjsLinearGradient1001)'%3e%3c/path%3e%3cpath d='M0 700L620.1775977084825 700L 0 79.8224022915175z' fill='url(%23SvgjsLinearGradient1002)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1001'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1002'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sectionfour__container__h1 {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sectionfour__container__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-top: 1.5%;
  }

  /* || ABOUT SECTIONS */
  .sectionone.about {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;
  }
  .sectionone__container.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  .sectionone__container__item.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sectionone__container__h2.about {
    font-weight: bolder;
    font-size: 20px;
    color: var(--C-DARK);
  }

  .sectionone__container__p.about {
    font-weight: bolder;
    font-size: 2px;
    color: var(--C-DARK);
  }

  .sectionone__container__h3.about {
    font-weight: bolder;
    font-size: 10px;
    color: red;
  }

  /* || SECTION TWO */
  .sectiontwo.about {
    height: 90vh;
  }
  .sectiontwo__container.about {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.9%;
    background-color: rgba(2, 2, 2, 0.589);
    color: #fff;
    gap: 10%;
    border: var(--BORDERS);
    border-color: var(--BORDER-COLOR);
    border-radius: 10%;
  }

  .sectiontwo__conatainer__p.abuot {
    color: #fff;
  }

  .sectiontwo__container__item.about {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .sectontwo__container__item__link.about {
    width: 300px;
    justify-content: center;
  }

  /* || SECTION THREE */
  .sectionthree.about {
    height: 90vh;
  }

  .sectionthree__container.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }

  .sectionthree__container__item.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }

  .sectionthree__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 40vh;
  }

  .sectionthree__container__img.about__1 {
    background-image: url(../img/pexels-photo-3861958.jpeg);
    background-size: cover;
    height: 40vh;
  }

  .sectionthree__container__img.about__2 {
    background-image: url(../img/pexels-photo-4348401.jpeg);
    background-size: cover;
    height: 40vh;
  }

  .sectionthree__overlay__bgcolor.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3d0f09a4;
    height: 40vh;
  }

  .sectionthree__container__h3.about {
    color: #fff;
    width: 900;
    font-size: xx-large;
  }

  .sectionthree__container__overlay__p.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(245, 245, 250);
    margin-left: 10%;
  }
}
